html,
body {
    height: 100%;
    margin: 0;
}


/* Header */

header {
    background-image: -webkit-linear-gradient(45deg, white 0%, lightgrey 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, lightgrey 75%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, lightgrey 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, lightgrey 75%, black 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 60px;
    margin: 0 auto;
}

header h2 {
    font-size: 230%;
    font-family: Arial, Helvetica, sans-serif;
    color: Black;
}

header h3 {
    font-size: 125%;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CDB759;
}


/* Navigation menu */

#nav_menu {
    clear: both;
    background-color: lightskyblue;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.table {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
}

#nav_menu ul {
    /* display: inline-block;
    list-style-type: disc; */
    list-style: none;
    position: relative;
}

#nav_menu ul li {
    float: left;
}


/* 
#nav_menu ul ul {
    display: none;
    position: absolute;
    /* top: 100%; 
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover>ul {
    display: block;
    /* top: 100%; 
} */

#nav_menu>ul::after {
    content: "";
    clear: both;
    display: block;
    /* top: 100%; */
}

#nav_menu ul {
    margin: 0;
    padding: 0;
    color: black;
    z-index: 20;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 200px;
    padding: .7em 0;
    text-decoration: none;
    background-color: lightskyblue;
    color: black;
    z-index: 20;
    font-weight: bold;
}

#nav_menu ul li a.current,
#nav_menu ul li a.current:hover,
#nav_menu ul li a.current:focus {
    color: orchid;
}

#nav_menu ul li a:hover,
#nav_menu ul li a:focus {
    background-color: lightblue;
    color: black;
    z-index: 20;
}

#nav_menu li {
    font-family: Arial, Helvetica, sans-serif;
    z-index: 20;
}

main {
    /* width: 100%; */
    display: table;
    /* Allow the centering to work */
    margin: 10px auto -50px;
    min-height: 100%;
}


/* main div {
    min-width: 1200px;
    /* align-content: center; 
} */

main div {
    width: 1200px;
    max-width: 1200px;
    float: left;
    padding: 20px 40px 20px 20px;
    text-align: left;
}

form div div {
    float: left;
    max-width: 300px;
    padding: 20px 20px 20px 20px;
}

form #submit,
#home div button {
    clear: both;
    float: right;
    margin: 20px;
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
    background-color: orchid;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    z-index: 5;
}

form div div {
    margin: 10px;
}

form div div input,
form div div input:focus,
#enrolledStudents,
#selectedTeachers {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 280px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: transparent;
}

#enrolledStudents {
    width: 415px;
}

#class div {
    float: left;
    margin-left: 20px;
    width: 415px;
}

#home div div {
    float: left;
    /* margin-left: 20px; */
}

#home div div select,
#class div select {
    /* clear: both; */
    display: block;
}


/* #admin div {
    float: left;
    width: 415px;
} */

table,
tbody,
thead {
    clear: both;
    display: block;
    width: 100%;
}

#enrolled #header td {
    margin-left: 10px;
    margin-right: 10px;
}

table {
    table-layout: auto;
    width: 100%;
    z-index: 5;
}

table tr {
    width: 100%;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    z-index: 5;
}

thead,
#header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#first {
    border-top-left-radius: 10px;
}

#last {
    border-top-right-radius: 10px;
}

th,
td {
    padding: 12px;
}

#header th {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    color: black;
    background-color: lightskyblue;
}

select,
#selectStudents,
#selectClasses {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Remove default arrow */
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    border: none;
    width: 400px;
}


/* Footer section */

footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
}